<div class="jumbotron">
  <h1>Hi Namely!</h1>
  <p>Please Select the Namely Login button to the top right.</p>
  <p>Below is a link to the Trello board that I used for the project</p>
  <h3><%= link_to "Trello", "https://trello.com/b/RvmtNrOx/namely-oauth", :target => "_blank"%></h3>
</div>