<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "About",   "http://www.nicknarh.com/"%></li>
        <li><%= link_to "Contact", "http://www.namely.com/" %></li>
      </ul>
    </nav>
  </div>
</footer>